<h2>لیست پرونده‌ها</h2>

<form method="get" style="margin-bottom: 20px;">
    <input type="text" name="last_name" placeholder="نام خانوادگی"
           value="{{ request.GET.last_name }}">
    <input type="text" name="phone_number" placeholder="شماره همراه"
           value="{{ request.GET.phone_number }}">
    <input type="text" name="national_code" placeholder="کد ملی"
           value="{{ request.GET.national_code }}">

    <button type="submit">جستجو</button>
</form>

<a href="{% url 'generalfile_create' %}">ایجاد پرونده جدید</a>

<table border="1" style="margin-top:15px;">
    <tr>
        <th>نام</th>
        <th>نام خانوادگی</th>
        <th>کد ملی</th>
        <th>شماره همراه</th>
        <th>شماره پرونده</th>
        <th>عملیات</th>
    </tr>

    {% for obj in files %}
    <tr>
        <td>{{ obj.first_name }}</td>
        <td>{{ obj.last_name }}</td>
        <td>{{ obj.national_code }}</td>
        <td>{{ obj.phone_number }}</td>
        <td>{{ obj.file_number }}</td>
        <td>
            <a href="{% url 'generalfile_update' obj.pk %}">ویرایش</a> |
            <a href="{% url 'generalfile_delete' obj.pk %}">حذف</a>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="6">موردی پیدا نشد</td></tr>
    {% endfor %}
</table>
